<% if flash[:alert] %>
   <div class="alert alert-warning"><%= flash[:alert] %></div>
 <% end %>
<% @events.each_slice(2) do |event1, event2| %>
<div class="row mb-2 event-row">
  <div class="col-md-6">
    <div class="event">
      <div class="event-photo">
        <%= image_tag(event1.photo.url(:medium), class: "event_img") %>
      </div>
      <div class="mb-1 text-muted event-time-home">
        <%= event1.start_at.strftime("%Y-%m-%d") %> at <%= event1.start_at.strftime("%I:%M %p") %> to <%= event1.end_at.strftime("%I:%M %p") %>
      </div>
      <h3 class="mb-0 event-home-h3">
        <%= link_to event1.name, event1, class:"event-name" %>
      </h3>
      <div class="event-address">
        <%= event1.address %>
      </div>
    </div>
  </div>
  <% if event2 %>
    <div class="col-md-6">
      <div class="event">
        <div class="event-photo">
          <%= image_tag(event2.photo.url(:medium), class: "event_img") %>
        </div>
        <div class="mb-1 text-muted event-time-home">
          <%= event2.start_at.strftime("%Y-%m-%d") %> at <%= event2.start_at.strftime("%I:%M %p") %> to <%= event2.end_at.strftime("%I:%M %p") %>
        </div>
        <h3 class="mb-0 event-home-h3">
          <%= link_to event2.name, event2, class:"event-name" %>
        </h3>
        <div class="event-address">
          <%= event2.address %>
        </div>
      </div>
    </div>
  <% end %>
</div>
<% end %>
