<!DOCTYPE html>
<html>
  <head>
    <title>Eventbright</title>
    <%= csrf_meta_tags %>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Custom styles for this template -->
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display:700,900" rel="stylesheet">

    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <!-- Custom Bootstrap Javascript -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  </head>
  <body>
    <div class="container">
      <%= render "shared/menu" %>
      <div class="jumbotron p-3 p-md-5 text-white rounded bg-dark banner">
        <div class="col-md-6 px-0">
          <h1 class="display-4 font-italic">Find your next experience !!</h1>
          <p class="lead my-3">Multiple Experiences are waiting for you, choose between thousands of their because we live only once</p>
        </div>
      </div>
      <%= yield %>
      <footer>
        <!-- <p>Blog template built for Bootstrap by @mdo.</p>
        <p>Back to top</p> -->
      </footer>
    </div>
  </body>
</html>
