<!DOCTYPE html>
<html>
  <head>
    <title>Project7</title>
    <%= csrf_meta_tags %>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <!-- Custom styles for this template -->
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display:700,900" rel="stylesheet">

    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <!-- Custom Bootstrap Javascript -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  </head>
  <body>
    <div class="container">
      <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom box-shadow">
        <h5 class="my-0 mr-md-auto font-weight-normal">Company name</h5>
        <nav class="my-2 my-md-0 mr-md-3">
          <!-- <a class="p-2 text-dark main-menu" href="#">Features</a>
          <a class="p-2 text-dark main-menu" href="#">Enterprise</a>
          <a class="p-2 text-dark main-menu" href="#">Support</a>
          <a class="p-2 text-dark main-menu" href="#">Pricing</a> -->
          <% if user_signed_in? %>
            <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "p-2 text-dark main-menu" %>
            <%= link_to current_user.name, events_path, class:"btn btn-outline-warning" %>
          <% end %>
        </nav>
        <% if user_signed_in? %>
          <%= link_to "Create Event", new_event_path, class:"btn btn-outline-primary" %>
        <% else %>
          <%= link_to "Login", new_user_session_path, class:"btn btn-outline-primary" %>
        <% end %>
      </div>
      <div class="jumbotron p-3 p-md-5 text-white rounded bg-dark">
        <div class="col-md-6 px-0">
          <h1 class="display-4 font-italic">Title of a longer featured blog post</h1>
          <p class="lead my-3">Multiple lines of text that form the lede, informing new readers quickly and efficiently about what's most interesting in this post's contents.</p>
        </div>
      </div>
      <%= yield %>
      <footer>
        <p>Blog template built for Bootstrap by @mdo.</p>
        <p>Back to top</p>
      </footer>
    </div>
  </body>
</html>
